:root {
  --background-color: #fafefd;
  --background-gray-faded: #f1f5f4;
  --background-gray-faded2: #e7ebea;
  --primary-color: #00d890;
  --primary-color-hover: #1eb980;
  --text-primary: #121212;
  --text-secondary: #676767;
  --border-color: #b2b2b2;

  --break-point-sm: 40rem;
  --break-point-md: 48rem;
  --break-point-lg: 64rem;
  --break-point-xl: 80rem;
  --break-point-2xl: 96rem;
}

[data-theme='dark'] {
  --background-color: #1a1a1a;
  --background-gray-faded: #1b1b1b;
  --background-gray-faded2: #202020;
  --text-primary: #fafefd;
}

* {
  box-sizing: border-box;
  color: var(--text-secondary);
  direction: rtl;
}

body {
  margin: 0;
  background-color: var(--background-color);
}
